<ul id="pageactions">
  <li class="<%= "active" if current_page?(:action=>"show") %>"><%= link_to 'Afficher', artist_path(@artist) %></li>
  <li class="<%= "active" if current_page?(:action=>"edit") %>"><%= link_to 'Modifier', edit_artist_path(@artist) %></li>
  <li>Discuter</li>
  <li>Historique</li>
</ul>

