<%= title(@artist.name " - Artiste") %>
<div class="section summary">
	<p>Naissance: <cite>date, lieu</cite></p>
	<p>Décès: <cite>date, lieu</cite>
</div>
<h2>Oeuvres</h2>
<h2>Discographie</h2>

<%= render :partial=>'links' %>
