.row      
  .span12
    .page-header 
      = title(@portal_article.title)

.row
  = render :partial=>'links'
  .span12
    .content= RedCloth.new(@portal_article.content).to_html.html_safe
    .well 
      = content_tag(:small, PortalArticle.human_attribute_name("publish_date") + " " + @portal_article.publish_date.to_s)






