<ul id="page_actions">
  <li><%= link_to 'Afficher', recording_path(@recording) %></li>
  <li><%= link_to 'Modifier', edit_recording_path(@recording) %></li>
  <li>Discuter</li>
  <li>Historique</li>
</ul>

