<ul id="pageactions">
  <li class="<%= "active" if current_page?(:action=>"show") %>"><%= link_to 'Afficher', recording_path(@recording) %></li>
  <li class="<%= "active" if current_page?(:action=>"edit") %>"><%= link_to 'Modifier', edit_recording_path(@recording) %></li>
  <li>Discuter</li>
  <li>Historique</li>
</ul>

