body { 
  background-color: #FFF; 
  background: url('../images/bg.png');  
}


#content .container {
 padding: 65px 20px 0px 20px;
 background-color: white;
}

#footer .container {
  padding: 30px 20px 30px 20px;
  background-color: white;
}

#sitetitle {
  width: 121px;
  height: 20px;
  background: url('../images/header-logo.png');  
text-indent: -999999px;
}


