/* basic page structure */ 
body { 
  margin: 0; 
  padding: 0; 
  font: 12px/1.5 Arial,Helvetica,sans-serif; 
  color: #111; 
  background-color: #FFF; 
  background: url('../images/bg.png');  
}

#page {
  width: 960px;
  margin: 0 auto 0 auto;
  padding-bottom: 15px;
  position: relative;
  background-color: white;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 135px;  
  width: 960px;
  background-color: #dedede;
}

#content {
  padding: 135px 10px 10px 10px;
}

#footer {
  width: 960px;
  text-align: center;
}

/* default tag behaviour */
dl, dt, dd {
	padding: 0;
	margin: 0;
}
dl {
 width:100%;
 overflow: hidden;
}
dt {
 float:left;
 clear: left;
 font-weight: bold;
 width:10%;
}
dt:after { content:":"; }
dd {
 float:left;
 width:85%;
}

/* main content elements */
.summary {
	margin-left: 3em;
}

/* header elements */
#sitetitle { /* TEMPORARY UNTIL GRAPHICAL ELEMENTS ARE GIVEN */
  position: absolute;
  left: 15px;
  top: 40px;
  width: 361px;
  height: 85px;
  text-indent: -99999px;
  background: url('../images/logo.png');

}

#header a {
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

/* navigation in header*/
#header ul.profile.nav {
	position: absolute;
	display: block;
  right: 0px;
  top: 0px;
  background-color: black;
  color: white;
  width: 300px;
  height: 15px;
  margin: 0;
  padding: 5px;  
  text-align: right;
}

#header ul.nav a {
  color: white;
}

#header ul.nav li {
	display: inline; 
	list-style: none;	  
}

#header ul.nav li + li {
	margin-left: 5px;
}

#header ul.entities.nav {
	position: absolute;
	display: block;
  left: 0px;
  top: 0px;
  background-color: black;
  color: white;
  width: 660px;
  height: 15px;
  margin: 0;
  padding: 5px;  
  text-align: left;
}


/* navigation in footer */ 
#footer ul.nav {
	position: static;
	display: block;
	margin: 0 auto 0 auto;
  padding: 0;  
}

#footer ul.nav li {
	display: inline; 
	list-style: none;	  
}

#footer ul.nav li + li {
	margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid black;
}


/* actions on a specific wiki entity */
#pageactions {
  position: absolute;
  top: 100px;
  right: 15px;    
  z-index:999; /* TODO: find better way*/
	display: block;
	margin: 0 auto 0 auto;
  padding: 0;    
}

#pageactions li {
	display: inline; 
	list-style: none;	  
  margin: 0;
  padding: 5px 5px 12px 5px;
  font: 18px/1.5 Arial,Helvetica,sans-serif;   
}

#pageactions li.active {
  background-color: white;
}

#pageactions li, #pageactions li a {
  color: #202020;
  text-decoration: none;  
}

/* messaging (BEGIN) */ 
.message
{
                -webkit-background-size: 40px 40px;
                -moz-background-size: 40px 40px;
                background-size: 40px 40px;
                background-image: -webkit-gradient(linear, left top, right bottom,
                                                        color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                                                        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                                                        color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                                                        to(transparent));
                background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
                 -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
                 -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
                 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
                 width: 928px; /* 960px - 15px -15px - 2px for border */
                 border: 1px solid;
                 color: #fff;
                 padding: 15px;
                 position: absolute;
                 top: 0px;
                 left: 0px;
                 text-shadow: 0 1px 0 rgba(0,0,0,.5);
                 -webkit-animation: animate-bg 5s linear infinite;
                 -moz-animation: animate-bg 5s linear infinite;
}

.info
{
                 background-color: #4ea5cd;
                 border-color: #3b8eb5;
}

.error
{
                 background-color: #de4343;
                 border-color: #c43d3d;
}

.warning
{
                 background-color: #eaaf51;
                 border-color: #d99a36;
}

.notice
{
                 background-color: #61b832;
                 border-color: #55a12c;
}

.message h3
{
                 margin: 0 0 5px 0;
}

.message p
{
                 margin: 0;
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
/* messaging (END) */

/* TEMP start */
table td { border: 1px solid #000; }
