body { 
  background-color: #FFF; 
  background: url('../images/bg.png');  
}


#content .container {
 padding: 65px 20px 0px 20px;
 background-color: white;
}

#footer .container {
  padding: 0px 20px 0px 20px;
  background-color: white;
}


