.row      
  .span12
    .hero-unit
      %h1 Bienvenue sur KiungoWiki
      %p
        La référence en musique qui mets en évidence le <strong>rôle des créateurs et interprêtes</strong>.
        Un Wiki sur les oeuvres audios ainsi que les <strong>liens entre ces oeuvres</strong> dans le temps et l'espace.

