%ul#pageactions.nav.nav-tabs.pull-right
  %li{class: current_page_classes(action: "show")}= link_to t("show"), possession_path(@possession)
  %li{class: current_page_classes(action: "edit")}= link_to t("modify"), edit_possession_path(@possession)
  %li= link_to t("delete"), @possession, method: :delete, confirm: t('messages.confirm')
