<ul id="pageactions">
  <li class="<%= "active" if current_page?(:action=>"show") %>"><%= link_to 'Afficher', album_path(@album) %></li>
  <li class="<%= "active" if current_page?(:action=>"edit") %>"><%= link_to 'Modifier', edit_album_path(@album) %></li>
  <li>Discuter</li>
  <li>Historique</li>
</ul>

