body { 
  background-color: #FFF; 
  background: url('bg.png');  
}


#content .container {
 padding: 65px 20px 0px 20px;
 background-color: white;
}

#footer .container {
  padding: 30px 20px 30px 20px;
  background-color: white;
}

#sitetitle {
  width: 121px;
  height: 20px;
  background: url('header-logo.png');  
text-indent: -999999px;
}

span.letter:after {
  content: " - ";
}

.soon-available:after {
  content: " (disponible bientôt)";
  color: #a0a0a0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
