body { 
  /* background-color: #FFF; 
  background: url('bg.png');  */
  background-color: #0a1d2e;
}

#kiungoanimation {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: -100;
}


#content .container {

  padding: 65px 20px 0px 20px;
  background-color: rgba(255,255,255,0.93);
}

#footer .container {
  padding: 30px 20px 30px 20px;
  background-color: rgba(255,255,255,0.93);
}

#sitetitle {
  width: 121px;
  height: 20px;
  background: url('header-logo.png');  
text-indent: -999999px;
}

span.letter:after {
  content: " - ";
}

.right-size {
  width:100%; 
  max-height:35em; 
  overflow: auto;
  margin-bottom: 2em;  
}

.soon-available:after {
  content: " (bientôt/soon)";
  color: #a0a0a0;
  font-size: 75%;
  vertical-align: super;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#footer ul.nav a:hover {
  color: black;
  
}

.token-input-list, .token-input-list-facebook {
  width: 540px !important;
}

/* fix for having the jquery.token dropdown visible even in a modal box*/ 
.token-input-dropdown, .token-input-dropdown-facebook { 
  z-index: 9999 !important; 
}


/* getting the auto-complete not to display any visual cue of the box itself*/ 
li.token-input-input-token input, li.token-input-input-token-facebook input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  border: none;
}

span.possession-label {
  margin-right: 0.75em;
}

div#addmusicform.modal {
  max-height: 600px;
}
