%ul#pageactions.nav.nav-tabs.pull-right
  %li{:class =>current_page_classes(:action=>"show")}= link_to t("show"), category_path(@category)
  %li{:class =>current_page_classes(:action=>"edit")}= link_to t("modify"), edit_category_path(@category)
  %li= link_to t("discuss"), "#"
  %li= link_to t("history"), "#"
