%ul#pageactions.nav.nav-tabs.pull-right
  %li{class: current_page_classes(action: "show")}= link_to t("show"), admin_users_path(@user)
  %li{class: current_page_classes(action: "edit")}= link_to t("modify"), edit_admin_user_path(@user)