= title(@release.title)

.row
  = render partial: 'links'
  .span12
    = render partial: 'info'
    - if @release.supplementary_sections.size > 0
      = link_to t('report_content'), report_release_path(@release)