<%= #form_for @artist do |f|
%>
	<%= #f.search_field(:artist, :name)
	%>
<% #end
%>
<form id="searchForm" action="" method="">
	<input type="text" name="searchPhrase" />
	<input type="submit" value="Search" name="search" />
</form>
