- {:info=>"Just so you know", :error=>"Oups, an error occured", :alert=>"Wait, I must warn you!", :warning=>"Wait, I must warn you!", :notice=>"Congrats, you did it!"}.each do |msg_type, heading|
  - if flash[msg_type]
    .row
      .span12
        %div.alert{:class => site_message_class(msg_type)}
          %h3= heading
          %p= flash[msg_type]

